{% extends 'common/base.html' %}
{% load static from staticfiles %}
{% block title %}
{{ posts.title }}
{% endblock %}

{% block pagecontent %}
    <h2 style="text-align: center">{{ posts.title }}</h2>
    <div class="page-header"><h4><strong>{{ posts.user.username }}</strong></h4>
        <p onclick="dofavorite({{ posts.id }})" style="cursor: pointer; float: right" id="collect">{% if request.user in cusers %}已收藏{% else %}收藏{% endif %}</p>
        <h5>发表于:{{ posts.upload_time|date:'Y-m-d H:i:s' }}</h5>
    </div>
{#    {{ moment(posts.timestamp).format('Y-M-D H点m分') }}<br>#}
    <textarea readonly="readonly" name="article" id="female" class="form-control" style="height: 500px" required>{{ posts.article }}</textarea>
    <div class="page-header"></div>
    <p style="float: right">浏览次数：{{ posts.visit }}</p>
    <br>
    <div>
        <form method="post" action="{% url 'App:send_comment' %}?pid={{ posts.id }}">
            {% csrf_token %}
            <h4>发表评论：</h4>
            <input type="text" placeholder="评论必须在120字以内" name="content" id="male" class="form-control" required />
            <br/>
            <button type="submit" class="btn btn-warning">评论</button>
        </form>
    </div>
    <div>
        <HR style="border:1px dashed #987cb9" width="100%" color=#987cb9 SIZE=1>
        {% for comment in comments %}
        <div class="media">
            <a href="" style="color: black;text-decoration: none;">
                <div class="media-left media-middle">
                    <img class="media-object" src="{% static comment.from_user.icon %}" alt="..."
                         width="100">
                </div>
                <div class="media-body">
                    <h4 class="media-heading"><strong>{{ comment.from_user.username }} </strong><span
                            style="color: #444444;font-size:14px;">发表于：{{ comment.create_time|date:'Y-m-d H:i:s' }}</span>
                    </h4>
                    {{ comment.content }}
                </div>
            </a>
        </div>
        {% endfor %}

    </div>
{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script>
        function dofavorite(pid) {
            node = $('p#collect');
            html = node.html();
            $.get({% url 'App:do_favourite' %},{'pid':pid},function (data,status) {
                if(data.res == 200){

                    if(html == '收藏'){
                        node.html('已收藏');
                    }else{
{#                        console.log('走了');#}
                       node.html('收藏');
                    }
                }
            });
        }
    </script>
{% endblock %}